/*CSS for making it responsive*/

@media (min-width: 800px){
	.top-container{
		width:42%;
	}
	.grid-outer-container{
		width:46%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-gap: 10px;
		grid-auto-flow: column;

	}
}